# Ignore everything by default
*

# Allow README.md
!README.md

# Allow the Installer and Env
!.zshenv
!install.sh

# Allow Installer packs
!packages
!packages/
!packages/accessories.sh
!packages/common/
!packages/common/*.sh
!packages/macos/
!packages/macos/*.sh
!packages/wsl/
!packages/wsl/*.sh
!packages/termux/
!packages/termux/*.sh
!packages/debian/
!packages/debian/*.sh

# Plugin Management System
!plugins.sh
!plugins/
!plugins/*.sh

# Allow the .potions directory and its contents
!.potions
!.potions/
!.potions/.zshrc
!.potions/.zsh_aliases
!.potions/.zsh_plugins.txt
!.potions/.zsh
!.potions/.zsh/
!.potions/.zsh/contrib
!.potions/.zsh/contrib/*

# Allow NVim config files
!.potions/nvim
!.potions/nvim/init.vim

# Allow TMUX config files
!.potions/tmux
!.potions/tmux/tmux.conf

# Git configuration files
!.gitconfig
!.gitignore
!.gitexcludes

# Vim configuration files
!.vim
!.vim/
!.vim/*
!.vimrc

# Ignore Vim swapfiles
.vim/.netrwhist
.vim/plugged
.vim/.*.swp
.vim/*/.*.swp
.vim/*/*/.*.swp
.vim/*/*/*/.*.swp

# Local tools and scripts
!bin
!bin/

# Screen and tmux configuration files
!.screenrc
!.tmux.conf
!.tmux
!.tmux/
!.tmux/*.yml# Ignore everything by default
