# Ignore everything by default
*

# Allow the Installer and Env
!.zshenv
!install.sh

# Allow Installer packs
!os_packages
!os_packages/
!os_packages/common/
!os_packages/common/*.sh
!os_packages/macos/
!os_packages/macos/*.sh
!os_packages/wsl/
!os_packages/wsl/*.sh

# Allow the .potions directory and its contents
!.potions
!.potions/
!.potions/.zshrc
!.potions/.zsh_aliases
!.potions/.zsh_plugins.txt
!.potions/.zsh
!.potions/.zsh/
!.potions/.zsh/contrib
!.potions/.zsh/contrib/*

# Git configuration files
!.gitconfig
!.gitignore
!.gitexcludes

# Vim configuration files
!.vim
!.vim/
!.vim/*
!.vimrc

# Ignore Vim swapfiles
.vim/.netrwhist
.vim/plugged
.vim/.*.swp
.vim/*/.*.swp
.vim/*/*/.*.swp
.vim/*/*/*/.*.swp

# Local tools and scripts
!bin
!bin/

# Screen and tmux configuration files
!.screenrc
!.tmux.conf
!.tmux
!.tmux/
!.tmux/*.yml# Ignore everything by default
